img {
    min-width: 100%;
    min-height: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

#profilecolor {
    background-color: #7FDBFF;
}

.button{
	background-color: white;
  	color: white;
  	border: 50px solid #4CAF50;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 50% ;
}